# =========================================================
# General
# =========================================================
ENVIRONMENT=local

# =========================================================
# Frontend
# =========================================================
VITE_API_BASE_URL=http://localhost:8000/api/v1

# =========================================================
# API
# =========================================================
APP_NAME=Portfolio Personal API
FRONTEND_ORIGIN=http://localhost:5173
API_V1_PREFIX=/api/v1

# =========================================================
# PostgreSQL - futuro uso con Docker
# =========================================================
POSTGRES_DB=portfolio_db
POSTGRES_USER=portfolio_user
POSTGRES_PASSWORD=change_me_in_local_env
POSTGRES_HOST=postgres
POSTGRES_PORT=5432

DATABASE_URL=postgresql+psycopg://portfolio_user:change_me_in_local_env@postgres:5432/portfolio_db