ENVIRONMENT=local
APP_NAME=Portfolio Personal API
API_V1_PREFIX=/api/v1

DATABASE_URL=postgresql+psycopg://portfolio_user:portfolio_password_dev@localhost:5432/portfolio_db

FRONTEND_ORIGINS=http://localhost:5173,http://localhost:4173

CONTACT_TARGET_EMAIL=your_email@example.com

SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USERNAME=your_email@example.com
SMTP_PASSWORD=your_google_app_password
SMTP_FROM_EMAIL=your_email@example.com
SMTP_FROM_NAME=Portfolio Contact